body {
    background-color: #181818;
    font-family: 'Roboto', sans-serif;
    color:white;
    font-weight: 700;
}

.navBar {
    border: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    margin-left: 0;
    background-color: #202020;
    margin-bottom: 10px;
}

#main {
    padding-top: 60px;
    position: static;
    display: flex;
    
}

.centerBlock {
    margin-bottom: 20px;
}

#videoWindow {
    border: 1px solid white;
    
    width: 70vw;
    height: 80vh;

}

#sideBar {
    border: 1px solid yellow;
    width: 20vw;
    height: 100vw;
    margin-left: 20px;
    display: block;

}

#videoInfo {
    border: 1px solid aqua;
    width: 70vw;
    height: 10vh;

}

#videoTitle {
    font-weight: 1.2em;
}

#youtuberInfo {
    border: 1px solid red;
    width: 70vw;
    height: 10vw;
    padding-top: 15px;
}

#youtuberIcon {
    border: 1px solid pink;
    width: 64px;
    height: 64px;
    margin: 0 10px 0 0;
    display: inline-flex;
}

#youtuberName {
    display: inline-block;
    border: 1px solid pink;
    
}

#commentSection {
    border: 1px solid green;
    width: 70vw;
    height: 40vw;
}

#centerColumn {
    margin-left: 80px;
}

#videoEmbed {
    height: 80vh;
    width: 70vw;
}

#viewCount {
    display:inline;
}

#options {
    width:25vw;
    height: auto;
    border: 1px solid white;
    display: inline-flex;
    float: right;
    justify-content: right;
}